<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sprint03Tests">
    <test name="Sprint03Tests">
        <classes>
            <class name="com.springboot.MyTodoList.Sprint03Test" />
        </classes>
    </test>
</suite>
<!-- <suite name="UnitTests">
    <test name="AllServiceTests">
        <packages>
            <package name="com.springboot.MyTodoList.service"/>
        </packages>
    </test>
</suite> -->
<!-- <suite name="DummySuite">
    <test name="DummyTestOnly">
        <classes>
            <class name="com.springboot.MyTodoList.DummyTest" />
        </classes>
    </test>
    <test name="Service">
        <classes>
            <class name="com.springboot.MyTodoList.service.AuthServiceTest" />
        </classes>
    </test>
</suite> -->